body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(207, 181, 59, 0.1);
    margin: 0;
}

/* header */

.front-page {
    border: 2px solid white;
}

header {
    width: 100%;
    background-color: #454545;
    color: #fafafa;
    height: 150px;
    margin: 0;
}

header a {
    color: #fafafa;
    text-decoration: none;
    font-size: 20px;
    padding: 0px 10px 0px 10px;
}

header a:hover {
    color: #cfb53b;
}

.active {
    text-decoration: underline;
}

header nav {
    text-align: center;
    padding-top: 20px;
}

h1 {
    font-size: 60px;
    text-align: center;
    padding-top: 15px;
    margin: 0;
}

/* footer */

footer {
    width: 100%;
    background-color: #454545;
    color: white;
    height: 150px;
    text-align: center;
    position: fixed;
    bottom: 0;
}

footer>p {
    padding: 2px;
    margin: 0px;
}

footer h3 {
    margin: 0;
    padding-top: 2px;
    text-decoration: underline;
}

footer a {
    font-size: 24px;
    color: #fafafa;
    margin-left: 15px;
}

footer a:hover {
    color: #cfb53b;
}

/* index.html */

#main-background {
    width: 100%;
    height: 700px;
    background: url(/assets/images/main\ back.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    image-rendering: crisp-edges;
    margin-left: 2px;
}

#main-text {
    color: #fafafa;
    margin: 0;
    padding-left: 30%;
    padding-top: 10%;

}

#main-text h2 {
    font-size: 300%;
    margin: 0;
}

#main-text p {
    font-size: 140%;
    margin: 0;
}

/* classes.html */

#challenge {
    width: 100%;
    text-align: center;
    text-decoration: underline;
}

/* classes */

#gym-classes>div {
    height: 300px;
    text-align: center;
    margin-bottom: 40px;
    width: 40%;
    color: #fafafa;
    padding-top: 50px;
    border-radius: 5px;
    background-size: cover;
}

.black-box {
    background-color: rgba(0, 0, 0, 0.6);
    width: 25%;
    text-align: center;
    margin: auto;
    border: 1px solid rgba(0, 0, 0, 0.6);
    border-radius: 5px;
}

#crossfit {
    background: url(../images/crossfit.webp) no-repeat center center;
    float: left;
    background-color: black;
    margin-left: 5%;
}

#yoga {
    background: url(../images/yoga.webp) no-repeat center center;
    float: right;
    background-color: black;
    margin-right: 5%;
}

#powerlifting {
    float: right;
    background: url(../images/powerlifting.jpeg) no-repeat center center;
    background-color: black;
    margin-right: 5%;

}

#aerobics {
    float: left;
    background: url(../images/aerobics.webp) no-repeat center center;
    background-color: black;
    margin-left: 5%;
}

#recovery {
    background: url(../images/sauana.jpeg) no-repeat center center;
    background-color: black;
    width: 60%;
    color: #fafafa;
    height: 300px;
    margin: auto;
    border-radius: 5px;
    margin-top: 40px;
    clear: both;
    padding-top: 50px;
    background-size: cover;
}

/* times */

#class-times {
    text-align: center;
    text-decoration: underline;
}

#times {

    width: 100%;
    padding-bottom: 400px;
}

#times div {
    background: url(/assets/images/wall.jpeg);
    color: white;
    width: 25%;
    height: 200px;
    float: left;
    padding: 30px 0 0 20px;
    text-align: center;
    border: 2px solid white;
    box-sizing: border-box;
    border-radius: 5px;
    background-position: center;
}

/* form.html */

/* form */

.form-section {
    clear: left;
    background: url(/assets/images/formpic.jpeg);
    background-size: cover;
    background-position: center;
    height: 900px;
    padding-bottom: 150px;
}

.signup-form {
    margin: 150px 10% 0 0;
    color: #fff;
    background-color: rgba(60, 60, 60, 0.6);
    max-width: 400px;
    position: absolute;
    left: 10%;
    padding: 30px;
}

.text-input {
    background: transparent;
    color: #fafafa;
    width: 100%;
    height: 25px;
    margin: 5px 0 20px;
    border: 1px solid #fafafa;
    border-radius: 2px;
}

.text-input:hover {
    border-color: #cfb53b
}

.join-button {
    margin-top: 30px;
    text-align: center;
    font-size: 150%;
    background-color: #cfb53b;
    border: 1px solid #fafafa;
    color: #fafafa;
    border-radius: 2px;
}

.join-button:hover {
    background-color: #fafafa;
    color: #cfb53b;
}

/* mediia queries */

@media screen and (max-width: 600px) {
    header .fa-dumbbell {
        display: none;
    }

    .black-box {
        width: 60%;
    }

    #main-text {
        margin: 0 auto;
        padding: 20%
    }
}

@media screen and (max-width: 407px) {
    header {
        height: 200px;
    }
}

@media screen and (max-width: 1200px) {
    #gym-classes>div {
        width: 100%;
        margin: 0 auto 40px;

    }

    #recovery {
        width: 100%;
    }

    #times {
        padding-bottom: 980px;
    }

    #times div {
        width: 100%;
    }
}