body {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    width: 100%;
    background-color: black;
    color: #fafafa;
    height: 150px;
    margin: 0;
    border-radius: 5px;

}

header a {}

a {
    color: #fafafa;
    text-decoration: none;
    font-size: 20px;
    padding: 0px 15px 0px 15px;

}

header a:hover {
    color: yellow;
}

.active {
    text-decoration: underline;
}

header nav {
    text-align: center;
    padding-top: 20px;


}

h1 {
    font-size: 60px;
    text-align: center;
    padding-top: 15px;
    margin: 0;
}

#challenge {
    width: 100%;
    text-align: center;
}

#gym-classes {
    height: 600px
}

#crossfit {
    background: url(../images/crossfit.webp) no-repeat center center;
    float: left;
    background-color: blue;
}

#yoga {
    background: url(../images/yoga.webp) no-repeat center center;
    float: right;
    background-color: green;
}

#powerlifting {
    float: right;
    background: url(../images/powerlifting.jpeg) no-repeat center center;
    background-color: red;

}

#aerobics {
    float: left;
    background: url(../images/aerobics.webp) no-repeat center center;
    background-color: orange;
}

#gym-classes>div {
    height: 300px;
    text-align: center;

    width: 50%;
    color: #fafafa;

    border-radius: 5px;
}

.black-box {
    background-color: rgba(0, 0, 0, 0.6);
    width: 25%;
    text-align: center;
    margin: auto;
    border: 1px solid rgba(0, 0, 0, 0.6);
    border-radius: 5px;
}

#recovery {
    background: url(../images/sauana.jpeg) no-repeat center center;
    background-color: yellow;
    width: 50%;
    color: #fafafa;
    height: 300px;
    margin: auto;
    border-radius: 5px;
}

#come-train {
    width: 100%;
    text-align: center;
}

footer {
    width: 100%;
    background-color: black;
    color: #fafafa;
    height: 150px;
    text-align: center;
    border-radius: 5px;
}

footer>p {
    padding: 2px;
    margin: 0px;
}

footer h3 {
    margin: 0;
    padding-top: 2px;
    text-decoration: underline;
}

footer a {
    font-size: 24px;
}

footer a:hover {
    color: yellow;
}

.form-section {
    clear: left;
    background: url(/assets/images/formpic.jpeg);
    background-size: cover;
    background-position: center;
    height: 900px;
}

.signup-form {
    margin: 150px 10% 0 0;
    color: #fff;
    background-color: rgba(60, 60, 60, 0.6);
    max-width: 400px;
    position: absolute;
    left: 10%;
    padding: 30px;
}

.text-input {
    background: transparent;
    color: #fafafa;
    width: 100%;
    height: 25px;
    margin: 5px 0 20px;
    border: 1px solid #fafafa;
    border-radius: 2px;
}